In [10]:
a = [x for x in range(5)]
print(type(a))
a

<class 'list'>

[0, 1, 2, 3, 4]

In [9]:
a = (x for x in range(5))
print(type(a))
print(a)
list(a)

<class 'generator'>
<generator object <genexpr> at 0x7f85140710f8>

[0, 1, 2, 3, 4]

In [8]:
a = {x for x in range(5)}
print(type(a))
a

<class 'set'>

{0, 1, 2, 3, 4}

In [11]:
li = ["pedro", "luis", "john", "samanta", "perola"]
a = [x for x in li if "a" in x]
a

['samanta', 'perola']

In [12]:
mat = [
    [1, "john", 22],
    [2, "mary", 2],
    [3, "silvia", 14],
    [4, "andre", 45],
]
mat

[[1, 'john', 22], [2, 'mary', 2], [3, 'silvia', 14], [4, 'andre', 45]]

In [15]:
a = {user[0]:user[1:] for user in mat}
a

{1: ['john', 22], 2: ['mary', 2], 3: ['silvia', 14], 4: ['andre', 45]}